<div>
  <button onclick={{action 'update' (hash
    user=(action model.getUser 'Alonso')
    events=(action model.getEvents)
  )}}>
    Alonso
  </button>
  <button onclick={{route-action 'refresh'}}>Refresh</button>
</div>
